@(loginForm:play.api.data.Form[(String,String)])(implicit request:play.api.mvc.RequestHeader)

@main {
    
    @loginForm.globalError.map { error =>
        <p style="color:#fff; background:#c00">
            @error.message
        </p>
    }
    
    @helper.form(routes.Authentication.authenticate()) {
        
        @helper.inputText(loginForm("login"))(helper.defaultInput)
        
        @helper.inputPassword(loginForm("password"))(helper.defaultInput)
        
        <p>
            <input type="submit" value="Login!">
        </p>
        
    }
    
}

