@(body:Html)(implicit request:play.api.mvc.RequestHeader)
<html>
    <head>
        <title>TODO List</title>
        <link rel="shortcut icon" type="image/png" href="http://www.playframework.org/public/images/favicon.png">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")"> 
    </head>
    <body>
        <h1>TODO List</h1>
        <hr>
        @body
        <hr>
        <a href="@routes.Tasks.list">Home</a>
        
        @request.username.map { user =>
            - Connected as @user (<a href="@routes.Authentication.logout">Logout</a>)
        }
        
    </body>
</html>
