@(task: Task, isEditable: Boolean = true)

<li data-task-id="@task.id">
    
    @if(isEditable) {
        <input class="done" type="checkbox" @(if(task.done) "checked") />
    }
    
    <h4>@task.title</h4>
    
    @if(task.dueDate != null) {
        <time datetime="@task.dueDate">@task.dueDate.format("MMM dd yyyy")</time>
    }
    
    @if(task.assignedTo != null && task.assignedTo.email != null) {
        <span class="assignedTo">@task.assignedTo.email</span>
    }
    
    @if(isEditable) {
        <a class="deleteTask" href="@routes.Tasks.delete(task.id)">Delete task</a>
        <span class="loader">Loading</span>
    }
    
</li>
