logs
*.iml
target
.idea
.idea_modules
.vscode
RUNNING_PID
generated.keystore
generated.truststore
*.log

# Build Server Protocol
.bsp/

.bloop
.metals
metals.sbt

# Scala-IDE specific
.scala_dependencies
.classpath
.project
.settings/
.cache-main
.cache-tests

version.properties
