logs
*.iml
target
.idea
.idea_modules
.vscode
RUNNING_PID
generated.keystore
generated.truststore
*.log

# Scala-IDE specific
bin/
.scala_dependencies
.classpath
.project
.settings/
.cache-main
.cache-tests
