language: scala

# Only build non-pushes (so PRs, API requests & cron jobs) OR tags OR forks OR main branch builds
# https://docs.travis-ci.com/user/conditional-builds-stages-jobs/
if: type != push OR tag IS present OR repo != playframework/playframework OR branch IN (main, 2.7.x, 2.6.x)

git:
  depth: false # Avoid sbt-dynver not seeing the tag

env:
  global:
    - secure: "NS2hMbBcmi6EF4QxtcNs4A2ZuNmIdLYQRJUWWejgnD4YtcsmoVjxrHRedqrnDdui4DyvaxWhg/3Uds23jEKTSbbh3ZphLO77BVgM2nUGUvVoa4i6qGF2eZFlIhq2G1gM700GPV7X4KmyjYi2HtH8CWBTkqP3g0An63mCZw/Gnlk="
    # These are the versions used for (scripted) tests. The versions Play is build with however are defined in interplay.
    - SCRIPTED_SBT_1_3: "1.3.13"
    - SCRIPTED_SBT_1_6: "1.6.2"
    - TEST_SCALA_2_12: "2.12.15"
    - TEST_SCALA_2_13: "2.13.8"
  jobs:
    - TRAVIS_JDK=8

before_install:
  - curl --version # for debug purpose
  - if [ ! -f ~/.jabba/jabba.sh ]; then curl -L -v --retry 5 -o jabba-install.sh https://git.io/jabba && bash jabba-install.sh; fi
  - . ~/.jabba/jabba.sh 
install: jabba install $(jabba ls-remote "adopt@~1.$TRAVIS_JDK.0-0" --latest=patch) && jabba use "$_" && java -Xmx32m -version

stages:
  - validations
  - test
  - test-sbt-1.3.x
  - cron-test-sbt-1.3.x
  - cron-test-sbt-1.6.x
  - java11

jobs:
  include:
    - stage: validations
      name: "Run publishLocal"
      script: scripts/publish-local
      workspaces:
        create:
          name: published-local
          paths: "$HOME/.ivy2/local/com.typesafe.play"
    - name: "Run publishLocal on Java 11"
      script: scripts/publish-local
      env: TRAVIS_JDK=11
      workspaces:
        create:
          name: published-local-jdk11
          paths: "$HOME/.ivy2/local/com.typesafe.play"
    - script: scripts/validate-code
      name: "Code validations (format, binary compatibility, etc.)"
    - script: scripts/validate-docs
      name: "Validate docs (links, sample code, etc.)"
    - script: scripts/validate-microbenchmarks
      name: "Validate that microbenchmarks are runnable"


    - stage: test
      script: scripts/it-test $TEST_SCALA_2_13
      name: "Run it tests for Scala 2.13"
    - script: scripts/it-test $TEST_SCALA_2_12
      name: "Run it tests for Scala 2.12"
    - script: scripts/test $TEST_SCALA_2_13
      name: "Run tests for Scala 2.13"
    - script: scripts/test $TEST_SCALA_2_12
      name: "Run tests for Scala 2.12"
    - script: scripts/test-docs $TEST_SCALA_2_13
      name: "Run documentation tests 2.13"
    - script: scripts/test-docs $TEST_SCALA_2_12
      name: "Run documentation tests 2.12"

    - stage: test-sbt-1.3.x
      name: "Run scripted tests (a) for sbt 1.3.x and Scala 2.12.x"
      script: scripts/test-scripted $SCRIPTED_SBT_1_3 $TEST_SCALA_2_12 'play-sbt-plugin/*1of3'
      workspaces:
        use: published-local
    - name: "Run scripted tests (b) for sbt 1.3.x and Scala 2.12.x"
      script: scripts/test-scripted $SCRIPTED_SBT_1_3 $TEST_SCALA_2_12 'play-sbt-plugin/*2of3'
      workspaces:
        use: published-local
    - name: "Run scripted tests (c) for sbt 1.3.x and Scala 2.12.x"
      script: scripts/test-scripted $SCRIPTED_SBT_1_3 $TEST_SCALA_2_12 'play-sbt-plugin/*3of3'
      workspaces:
        use: published-local

    # Test against Java 11, but only for Scala 2.12
    - stage: java11
      script: scripts/test $TEST_SCALA_2_12
      env: TRAVIS_JDK=11
      name: "Run tests for Scala 2.12 and Java 11"
    - script: scripts/it-test $TEST_SCALA_2_12
      env: TRAVIS_JDK=11
      name: "Run it tests for Scala 2.12 and Java 11"
    - script: scripts/test-docs $TEST_SCALA_2_12
      env: TRAVIS_JDK=11
      name: "Run documentation tests for Scala 2.12 and Java 11"
    - name: "Run scripted tests (a) for sbt 1.3.x and Scala 2.12.x and Java 11"
      script: scripts/test-scripted $SCRIPTED_SBT_1_3 $TEST_SCALA_2_12 'play-sbt-plugin/*1of3'
      env: TRAVIS_JDK=11
      workspaces:
        use: published-local-jdk11
    - name: "Run scripted tests (b) for sbt 1.3.x and Scala 2.12.x and Java 11"
      script: scripts/test-scripted $SCRIPTED_SBT_1_3 $TEST_SCALA_2_12 'play-sbt-plugin/*2of3'
      env: TRAVIS_JDK=11
      workspaces:
        use: published-local-jdk11
    - name: "Run scripted tests (c) for sbt 1.3.x and Scala 2.12.x and Java 11"
      script: scripts/test-scripted $SCRIPTED_SBT_1_3 $TEST_SCALA_2_12 'play-sbt-plugin/*3of3'
      env: TRAVIS_JDK=11
      workspaces:
        use: published-local-jdk11

    # Test against sbt 1.3.x and Scala 2.13.x, but only for cron builds
    # (sbt 1.3.x / Scala 2.12.x was tested above already)
    - stage: cron-test-sbt-1.3.x
      name: "Run tests for sbt 1.3.x and Scala 2.13.x"
      script: scripts/test-scripted $SCRIPTED_SBT_1_3 $TEST_SCALA_2_13
      if: type = cron
      workspaces:
        use: published-local
    # Test against sbt 1.6.x, but only for cron builds
    - stage: cron-test-sbt-1.6.x
      name: "Run tests for 1.6.x and Scala 2.13.x"
      script: scripts/test-scripted $SCRIPTED_SBT_1_6 $TEST_SCALA_2_13
      if: type = cron
      workspaces:
        use: published-local

cache:
  directories:
    - "$HOME/.cache/coursier"
    - "$HOME/.ivy2/cache"
    - "$HOME/.jabba"
    - "$HOME/.sbt"

before_cache:
  - rm -rf $HOME/.ivy2/cache/scala_*/sbt_*/com.typesafe.play/*
  - find $HOME/.ivy2 -name "ivydata-*.properties" -delete
  - find $HOME/.sbt  -name "*.lock"               -delete
