@(project:models.Project, allTasks: Seq[models.Task], team: Seq[models.User])

<header>
    <hgroup>
        <h1>@project.group</h1>
        <h2>@project.name</h2>
    </hgroup>
    <dl class="users">
        <dt>Project's team</dt>
        <dd>
            <div class="wrap">
                <h3>Team mates</h3>
                <div class="list">
                    @team.map { user =>
                        <dl data-user-id="@user.id">
                            <dt>@user.name <span>(@user.mail)</span></dt>
                            <dd class="action">Action</dd>
                        </dl>
                    }
                </div>
                <h3>Add a team mate</h3>
                <div class="addUserList">
                    @models.User.findAll.diff(team).map { user =>
                        <dl data-user-id="@user.id">
                            <dt>@user.name <span>(@user.mail)</span></dt>
                            <dd class="action">Action</dd>
                        </dl>
                    }
                </div>
            </div>
        </dd>
    </dl>
</header>
<article  class="tasks" id="tasks">
    @allTasks.groupBy( _.folder ).map {
        case (folder, tasks) => {
            @views.html.tasks.folder(folder) {
                @tasks.map { task =>
                    @views.html.tasks.item( task )
                }
            }
        }
    }
    <a href="#newFolder" class="new newFolder">New folder</a>
</article>

