@(signupForm: Form[User])

@import helper._
@import helper.twitterBootstrap._

@title = {
    Sign Up 2/2
}

@main(title, nav = "wizard") {
    
    @helper.form(action = routes.Wizard.submit(2)) {  

	<input type="hidden" name="username" value="@signupForm("username").value">
	<input type="hidden" name="email" value="@signupForm("email").value">
	<input type="hidden" name="password" value="@signupForm("password").value">
	<fieldset>
        
        <legend>Contact information</legend>
        
        @select(
            signupForm("profile.country"), 
            options = options(Countries.list),
            '_default -> "--- Choose a country ---",
            '_label -> "Country",
            '_error -> signupForm("profile.country").error.map(_.withMessage("Please select your country"))
        )
        
        @textarea(
            signupForm("profile.address"), 
            '_label -> "Address", 'cols -> 50
        )
        
        @inputText(
            signupForm("profile.age"), 
            '_label -> "Age", 'class -> "mini",
            '_showConstraints -> false
        )
          
    </fieldset>
    
    <fieldset>
        
        @checkbox(
            signupForm("accept"), 
            '_label -> None, '_text -> "You agree to the terms and conditions",
            '_showConstraints -> false
        )
        
    </fieldset>
    
    <div class="actions">
        <input type="submit" name="action" class="btn primary" value="Sign Up!">
        <input type="submit" name="action" class="btn" value="Previous">
    </div>
  }
}