@(signupForm: Form[User])

@import helper._
@import helper.twitterBootstrap._

@title = {
   Sign Up 1/2
}

@main(title, nav = "wizard") {
    
    @helper.form(action = routes.Wizard.submit(1)) {
        
        <fieldset>
            <legend>Account information</legend>
            
            @inputText(
                signupForm("username"), 
                '_label -> "Username", 
                '_help -> "Please choose a valid username.",
                '_error -> signupForm.globalError
            )
            
            @inputText(
                signupForm("email"), '_label -> "Email",
                '_help -> "Enter a valid email address."
            )
            
            @inputPassword(
                signupForm("password"), 
                '_label -> "Password",
                '_help -> "A password must be at least 6 characters. "
            )
            
          	<div class="clearfix  " id="repeatPassword_field">
			    <label for="repeatPassword">Repeat password</label>
			    <div class="input">

			    <input type="password" id="repeatPassword" name="repeatPassword" value="@signupForm("password").value">

			        <span class="help-inline"></span>
			        <span class="help-block">Please repeat your password again.</span> 
			    </div>
			</div>

        </fieldset>
        
		<input type="hidden" name="profile.country" value="@signupForm("profile.country").valueOr("")">
		<input type="hidden" name="profile.address" value="@signupForm("profile.address").valueOr("")">
		<input type="hidden" name="profile.age" value="@signupForm("profile.age").valueOr("")">

        
        <div class="actions">
            <input type="submit" class="btn primary" value="Go to step 2">
        </div>
        
    }
    
}