@**
 * Default field constructor.
 *
 * It generates field as following:
 * {{{
 * <dl class="error">
 *   <dt><label for="name">Your name:</label></dt>
 *   <dd><input type="text" id="name" name="name"></dd>
 *   <dd class="error">This field is required</dd>
 *   <dd class="info">Required</dd>
 * </dl>
 * }}}
 *
 * @param el The field informations.
 *@
@(el: InputElements)

<dl @if(el.errors.size > 0) { class="error" }>
    <dt>@el.label</dt>
    <dd>@el.input</dd>
    @el.errors.map { error =>
        <dd class="error">@error</dd>
    }
    @el.infos.map { info =>
        <dd class="info">@info</dd>
    }
</dl>