@**
 * Generate an HTML select.
 *
 * Example:
 * {{{
 * @select(field = myForm("isDone"), options = options("Yes","No"))
 * }}}
 *
 * @param field The form field.
 * @param args Set of extra HTML attributes ('''id''' and '''label''' are 2 special arguments).
 * @param handler The field constructor.
 *@
@(field:play.api.data.Field, options:Seq[(String,String)], args:(Symbol,Any)*)(implicit handler: InputConstructor)

@defining(Utils.filter(args, 'id -> field.id, 'label -> field.name, 'default -> null)) { args =>
    @input(field, args._1('id), Some(args._1('label)), showInfo = false) { (id,name,value) =>
        <select id="@id" name="@name" @toHtmlArgs(args._2)>
            @Option(args._1('default)).map { txt =>
                <option class="blank" value="">@txt</option>
            }
            @options.map { v =>
                <option value="@v._1" @(if(value == Some(v._1)) "selected" else "")>@v._2</option>
            }
        </select>
    }(handler)
}
