@**
 * Generate an HTML5 input date.
 *
 * Example:
 * {{{
 * @inputDate(field = myForm("releaseDate"), args = 'size -> 10)
 * }}}
 *
 * @param field The form field.
 * @param args Set of extra attributes.
 * @param handler The field constructor.
 *@
@(field: play.api.data.Field, args: (Symbol,Any)*)(implicit handler: FieldConstructor, lang: play.api.i18n.Lang)

@input(field, args:_*) { (id, name, value, htmlArgs) =>
    <input type="date" id="@id" name="@name" value="@value" @toHtmlArgs(htmlArgs)>
}