@**
 * RequireJS Javascript module loader.
 *
 * Example:
 * {{{
 * @requireJs(core = routes.Assets.at("javascripts/require.js").url, module = routes.Assets.at("javascripts/main").url)
 * }}}
 *
 * @param module Javascript module in question.
 * @param core Reference to require.js.
 * @param productionFolderPrefix Prefix of Javascript production folder, defaut "-min".
 * @param folder Javascript folder, default "javascripts".
 *@

@(module: String, core: String, productionFolderPrefix: String = "-min", folder: String= "javascripts")


 <script type="text/javascript" data-main="@{if(play.api.Mode.Prod == play.api.Play.maybeApplication.map(_.mode).getOrElse(play.api.Mode.Dev)) module.replace(folder,folder+productionFolderPrefix) else module}" src="@core"></script>
