@(name: String)

@layout {
  
  Hello @name!
  
  <div id="result"></div>
  
  <button type=button id="route-url" onclick="display(route.url)">url</button>
  <button type=button id="route-abs-url" onclick="display(route.absoluteURL())">absoluteURL()</button>
  <button type=button id="route-abs-secure-url" onclick="display(route.absoluteURL(true))">absoluteURL(true)</button>
  <button type=button id="route-abs-secure-url2" onclick="display(route.absoluteURL({ secure: true }))">absoluteURL({ secure: true })</button>
  <button type=button id="route-ws-url" onclick="display(route.webSocketURL())">webSocketURL()</button>
  <button type=button id="route-ws-secure-url" onclick="display(route.webSocketURL(true))">webSocketURL(true)</button>
  <button type=button id="route-ws-secure-url2" onclick="display(route.webSocketURL({ secure: true }))">webSocketURL({ secure: true })</button>
  
  <script type="text/javascript">
    route = routes.controllers.Application.javascriptTest("world");
    display = function (content) {
      document.getElementById('result').innerHTML = content;
    };
  </script>
}