@(computerForm: Form[Computer], numComputers: Int)

@import helper._

@main(numComputers) {
    
    <h1>Add a computer</h1>
    
    @form(routes.Application.save()) {
        
        <fieldset>
        
            @inputText(computerForm("name"), 'label -> "Computer name")(twitterBootstrapInput)
            @inputText(computerForm("introduced"), 'label -> "Introduced date")(twitterBootstrapInput)
            @inputText(computerForm("discontinued"), 'label -> "Discontinued date")(twitterBootstrapInput)

            @select(
                computerForm("company.id"), 
                options(Company.options), 
                'label -> "Company", 'default -> "-- Choose a company --"
            )(twitterBootstrapInput)
            

        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Create this computer" class="btn primary"> or 
            <a href="@routes.Application.list()" class="btn">Cancel</a> 
        </div>
        
    }
    
}