@(id: Long, computerForm: Form[Computer], numComputers: Int)

@import helper._

@main(numComputers) {
    
    <h1>Edit computer</h1>
    
    @form(routes.Application.update(id)) {
        
        <fieldset>
        
            @inputText(computerForm("name"), 'label -> "Computer name")(twitterBootstrapInput)
            @inputText(computerForm("introduced"), 'label -> "Introduced date")(twitterBootstrapInput)
            @inputText(computerForm("discontinued"), 'label -> "Discontinued date")(twitterBootstrapInput)
            
            @select(
                computerForm("company.id"), 
                options(Company.options), 
                'label -> "Company", 'default -> "-- Choose a company --"
            )(twitterBootstrapInput)
        
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Save this computer" class="btn primary"> or 
            <a href="@routes.Application.list()" class="btn">Cancel</a> 
        </div>
        
    }
    
    @form(routes.Application.delete(id), 'class -> "topRight") {
        <input type="submit" value="Delete this computer" class="btn danger">
    }
    
}
