
@main(None) {
    
    <div class="page-header">
        <h1>Page name <small>Supporting text or tagline</small></h1>
    </div>
    
    <div class="row">
        <div class="span10">
            <h2>Main content</h2>
        </div>
        <div class="span4">
            <h3>Secondary content</h3>
        </div>
    </div>
    
    <div class="alert-message block-message info">
        <a class="close" href="#">×</a>
        <p><strong>Holy guacamole! This is a warning!</strong> Best check yo self, you’re not looking too good. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
        <div class="alert-actions">
            <a class="btn small" href="#">Sign in with a random username</a>
        </div>
    </div>
    
}