@(pages: Seq[String])

<!DOCTYPE html>

<html>
    <head>
        <title>Play documentation</title>
        <link rel="stylesheet" media="screen, print" href="/@@documentation/resources/style/main.css">
        <link rel="stylesheet" media="screen, print" href="/@@documentation/resources/style/book.css">
        <style type="text/css" media="screen">
            body {
                width: 650px;
                margin: 5em auto;
            }
        </style>
        <script src="http://code.jquery.com/jquery-1.7.1.min.js" type="text/javascript"></script>
    </head>
    <body id="manual">
    
    <script type="text/javascript" charset="utf-8">
        var pages = [@pages.map{p=>'@p'}.mkString(",")]
        
        $(pages).each(function() {
            var pageName = this
            var doc = $.ajax({
                url: '/@@documentation/' + pageName,
                success: function(data) {
                    var c = $('#main', $(data)[7]).attr('id', pageName)
                    $(document.body).append(c)
                },
                async: false
            })   
        })
        
        $('img').each(function() {
            var src = $(this).attr('src')
            if(src.indexOf('resources') == 0) {
                $(this).attr('src', '/@@documentation/' + src)
            }
        })
        
        $('blockquote').each(function() {
            if($(this).text().indexOf('Next:') == 0) {
                $(this).remove()
            }
        })
        
    </script>
    
    </body>
</html>
