<html>
<head>
    <title>Play Scala Intro</title>
</head>
<body>

<div>
    <h2>Welcome to the Play Scala Intro Project</h2>
    <p>
        The project demonstrate how to build a simple CRUD application with Play Scala. For a step by step guide of the project watch <a href="https://www.youtube.com/watch?v=eNCerkVyQdc" class="shortcut" target="_blank">this video.</a>
    </p>
    <p>
        <a href="http://sorm-framework.org/" target="_blank">Sorm</a> has been chosen as a database access layer. It provides database methods out of the box such as <code>save</code> or <code>all</code>. For this simple CRUD application it is perfect. For a larger application you should use other libraries such as <a href="https://github.com/playframework/play-slick" target="_blank">Slick</a> or <a href="http://www.playframework.com/documentation/2.2.3/ScalaAnorm" target="_blank">Anorm</a>.
    </p>  
</div>

</body>
</html>
