<!--
  ~ Copyright (C) 2009-2018 Lightbend Inc. <https://www.lightbend.com>
  -->
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- We use short exception stack trace logging to limit output for travis. -->
            <!-- Change to full if you need to do further debugging, but never commit that. -->
            <pattern>%level %logger{15} - %message%n%ex{short}</pattern>
        </encoder>
    </appender>

    <!-- avoid polluting the test logs -->
    <logger name="play.shaded.ahc.io.netty" level="WARN" />
    <logger name="org.hibernate.validator" level="WARN" />
    <logger name="akka.event" level="WARN" />
    <logger name="org.jboss.logging" level="WARN" />

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
