// -----------------------------------
// MAIN
// -----------------------------------
// author: mda@zenexity.com - 2011
// -----------------------------------

@import 'libs/_reset.less';
@import 'libs/_mate.less';
@import 'libs/_theme.less';

// ----------------------- MAIN STYLES
body {
    background: @mainBackground;
    color: @mainColor;
    font: @defaultFont;
    -webkit-font-smoothing: antialised;
    -webkit-user-select: none;
}

a {
    color: #4794c4;
    text-decoration: none;
    &:hover {
        color: #2a5e88;
    }
}

// --------------------------- IMPORTS
@import 'main/_layout.less';         // General grid
@import 'main/_widgets.less';        // Some shared elements
@import 'main/_drawer.less';        // Project drawer
@import 'main/_header.less';         // Top header + User bar
@import 'main/_navigation.less';     // Big buttons
@import 'main/_breadcrumb.less';     // Breadcrumb + App menu
@import 'apps/_tasks.less';          // 

