@(user: User)

@main(Html("Account created!"), nav = "signup") {
    
    <h2>Your account:</h2>
    
    <h6>Username</h6>
    
    <p>
        @user.username
    </p>
    
    <h6>Email</h6>
    
    <p>
        @user.email
    </p>
    
    <h6>Password</h6>
    
    <p>
        @user.password
    </p>
    
    <h2>Additional informations:</h2>
    
    <h6>Country</h6>
    
    <p>
        @user.profile.country
    </p>
    
    <h6>Address</h6>
    
    <p>
        @user.profile.address.getOrElse { <em>Not specified</em> } 
    </p>
    
    <h6>Age</h6>
    
    <p>
        @user.profile.age.getOrElse { <em>Not specified</em> } 
    </p>
    
}