@()

@main(title = "Twitter Streaming") {

<body>

    <div class="span8">
        <form>
        <fieldset>

        <div class="clearfix">
            <label for="search">Search Term</label>
            <div class="input">
                <input class="xlarge" id="search" name="search" size="30" type="text" />
            </div>
        </div>
        </fieldset>
        </form>
    </div><!-- span8 -->

    <div class="span8" id="twitts">
    </div><!-- span8 -->

    <iframe style="display:none" id="streaming"></iframe>

<script id="twitt_tpl" type="text/template">
<div>
    <div><a href="http://twitter.com/<%= user.screen_name %>">@@<%= user.screen_name %></a>: <%= text %></div>
</div>
</script>

<script>

    var $twitts = $("#twitts");
    var twittTpl = _.template($("#twitt_tpl").html());
    // Called from the iframe
    function twitts(data) {
        console.log(data);
        $twitts.prepend(twittTpl(data));
        while ($twitts.children().size() > 10) {
            $twitts.children().last().remove();
        }
    }
$(function(){

    var usernameField = $("#username");
    var passwordField = $("#password");
    var searchField = $("#search");
    $("#search").keypress(function(e){
        if (e.which == 13) {
            $("#streaming").attr("src", "/twitter/" + searchField.val());
            e.preventDefault();
        }
    });

});

</script>
</body>

}

