@(maybeId:Long, taskForm:play.data.Form[models.Task])

@main {

    @Option(maybeId).map { id => <h1>Edit task @id</h1> }.getOrElse { <h1>New task</h1> }

    @helper.html.form(Option(maybeId).map(routes.Tasks.update(_)).getOrElse(routes.Tasks.save())) {
        
        @helper.html.inputText(taskForm("name"))
        
        @helper.html.inputText(taskForm("dueDate"))
        
        @helper.html.checkbox(taskForm("done"))
    
        <p>
            <a href="@routes.Tasks.list()">Cancel</a> <input type="submit">
        </p>
        
    }
    
    @Option(maybeId).map { id =>
        
        <hr>
        
        <form action="@routes.Tasks.delete(id)" method="POST">
            <input type="submit" value="Delete this task">
        </form>
        
    }

}
