@(loginForm:play.data.Form[Authentication.Login])

@main {
    
    @Option(loginForm.globalError).map { error =>
        <p style="color:#fff; background:#c00">
            @error.message
        </p>
    }
    
    @helper.html.form(routes.Authentication.authenticate()) {
        
        @helper.html.inputText(loginForm("username"))
        
        @helper.html.inputPassword(loginForm("password"))
        
        <p>
            <input type="submit" value="Login!">
        </p>
        
    }
    
    
}

