@(loginForm:play.data.Form[Authentication.Login])

@main {
    
    @Option(loginForm.globalError).map { error =>
        <p class="errorBox">
            @error.message
        </p>
    }
    
    @helper.form(routes.Authentication.authenticate()) {
        <div class="fieldContainer">
            <fieldset>
                <legend>TODO Authentication form</legend>


        @helper.inputText(loginForm("username"), 'placeholder->"Your username")(helper.defaultInput)
        
        @helper.inputPassword(loginForm("password"))(helper.defaultInput)
            </fieldset>
            <div class="centered">
            <input type="submit" value="Login!" class="submitButton">
                </div>
        </div>
        
    }
    <legend>For the sample application, authenticate with login=demo and password=demo</legend>
    
}

