@**
 * Default page for 404 Not Found responses, in production mode.
 *@
@(method: String, uri: String)(implicit request: play.api.mvc.RequestHeader)
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Not Found</title>
        @views.html.helper.style('type -> "text/css") {
            html, body, pre {
                margin: 0;
                padding: 0;
                font-family: Monaco, 'Lucida Console', monospace;
                background: #ECECEC;
            }
            h1 {
                margin: 0;
                background: #AD632A;
                padding: 20px 45px;
                color: #fff;
                text-shadow: 1px 1px 1px rgba(0,0,0,.3);
                border-bottom: 1px solid #9F5805;
                font-size: 28px;
            }
            p#detail {
                margin: 0;
                padding: 15px 45px;
                background: #F6A960;
                border-top: 4px solid #D29052;
                color: #733512;
                text-shadow: 1px 1px 1px rgba(255,255,255,.3);
                font-size: 14px;
                border-bottom: 1px solid #BA7F5B;
            }
        }
    </head>
    <body>
        <h1>Not Found</h1>

        <p id="detail">
            For request '@method @uri'
        </p>

    </body>
</html>
